/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --mandarin-color: #FF6900;
    --footer-color: #1A1A1A;
}
/* /reset */

.header {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 20px;
    height: 80px;
    background-color: var(--mandarin-color);
}

ul {
    list-style: none;
}
/* common */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    /* debug */
    /* border: 1px solid black; */
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
/* /common */

/* utilities */
.font {
    color: white;
    font-size: 0.8rem;
    padding: 5px;
}
/* /utilities */

/* header */

a {
    color: inherit;
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: space-around;
    color: white;
    gap: 10px;
}

.logo {
    display: flex;
    width: 60%;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: space-around;
    color: white;
    gap: 10px;
}

/* /header */


/* main */
p {
    font-size: 0.7rem;
    color: red;
}
p > .grey {
    text-decoration: line-through;
    color: grey;
}

h3 {
    color: white;
    margin-bottom: 10px;
    text-align: left
}
h5 {
    color: grey;
}
/* img */
.img-1a {
    display: block;
}
.img-1b {
    display: none;
}

.item:hover .img-1a {
    display: none;
}

.item:hover .img-1b {
    display: block;
}

.heart {
    display: none;
}

.item:hover .heart {
    display: inline-block;
}

.heart:hover {
    color: red;
}
/* /img */

/* layout */
.column {
    width: calc(100% / 3);
    padding: 10px;
}

.item {
    position: relative;

}

/* /layout */
.heart {
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 0;   
}
.discount {
    background-color: red;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.sustainable {
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 30px;
}

.sustainable-green {
    background-color: green;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

/* footer */
footer {
    background-color: var(--footer-color);
    padding: 30px;
}

.footer-banner {
    display: flex;
    justify-content: space-around;
}

.footer-icon {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.footer-list {
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
/* /footer */